{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<body class="body">

	<!-- page 404 -->
	<div class="page-404 section--bg" data-bg={% static "img/section/section.jpg" %}>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="page-404__wrap">
						<div class="page-404__content">
							<h1 class="page-404__title">404</h1>
							<p class="page-404__text">The page you are looking for is not available!</p>
							<a href="/" class="page-404__btn">Go Back</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end page 404 -->

	<!-- JS -->
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/bootstrap.bundle.min.js" %}></script>
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<script src={% static "js/jquery.mousewheel.min.js" %}></script>
	<script src={% static "js/jquery.mCustomScrollbar.min.js" %}></script>
	<script src={% static "js/wNumb.js" %}></script>
	<script src={% static "js/nouislider.min.js" %}></script>
	<script src={% static "js/plyr.min.js" %}></script>
	<script src={% static "js/jquery.morelines.min.js" %}></script>
	<script src={% static "js/photoswipe.min.js" %}></script>
	<script src={% static "js/photoswipe-ui-default.min.js" %}></script>
	<script src={% static "js/main.js" %}></script>
</body>

</html>

{% endblock %}