{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href={% static "css/bootstrap-reboot.min.css" %}>
	<link rel="stylesheet" href={% static "css/bootstrap-grid.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/jquery.mCustomScrollbar.min.css" %}>
	<link rel="stylesheet" href={% static "css/nouislider.min.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
	<link rel="stylesheet" href={% static "css/plyr.css" %}>
	<link rel="stylesheet" href={% static "css/photoswipe.css" %}>
	<link rel="stylesheet" href={% static "css/default-skin.css" %}>
	<link rel="stylesheet" href={% static "css/main.css" %}>

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FilmFocus – Your Watchlist, Your Way</title>

</head>
<body class="body">

	<!-- page title -->
	<section class="section section--first section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">ABOUT US</h2>
						<!-- end section title -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- about -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title"><b>FilmFocus</b> – Your Watchlist, Your Way</h2>
				</div>
				<!-- end section title -->

				<!-- section text -->
				<div class="col-12">
					<p class="section__text">Web application for users to save their movie watchlists.<br>Offering discovery, filtering, sorting, and picking your next movie to watch.</p>

					<!-- <p class="section__text section__text--last-with-margin">'Content here, content here', making it look like <a href="#">readable</a> English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p> -->
				</div>
				<!-- end section text -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-tv feature__icon"></i>
						<h3 class="feature__title">Trailers</h3>
						<p class="feature__text">Display movie information including their posters and trailers.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-film feature__icon"></i>
						<h3 class="feature__title">Film</h3>
						<p class="feature__text">All the films you want to watch.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-trophy feature__icon"></i>
						<h3 class="feature__title">Top Rated</h3>
						<p class="feature__text">Find the top rated movies based on IMDb, Rotten Tomatoes, Letterboxd.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-notifications feature__icon"></i>
						<h3 class="feature__title">Notifications</h3>
						<p class="feature__text">Discover the newest and most popular movies in one place.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-rocket feature__icon"></i>
						<h3 class="feature__title">Information Fast</h3>
						<p class="feature__text">Get up-to-date movie information right now.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-globe feature__icon"></i>
						<h3 class="feature__title">Share with Friends</h3>
						<p class="feature__text">Explore your friends' movie watchlists. Share recommendations.</p>
					</div>
				</div>
				<!-- end feature -->
			</div>
		</div>
	</section>
	<!-- end about -->

	<!-- how it works -->
	<section class="section section--dark">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title section__title--no-margin">How it works?</h2>
				</div>
				<!-- end section title -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">01</span>
						<h3 class="how__title">Create an account</h3>
						<p class="how__text"><a href="{% url 'signup' %}">Sign up for FREE.</a> Only takes a minute.</p>
					</div>
				</div>
				<!-- ebd how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">02</span>
						<h3 class="how__title">Create your watchlists</h3>
						<p class="how__text">Make a list and start adding movies. Find your favorites.</p>
					</div>
				</div>
				<!-- ebd how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">03</span>
						<h3 class="how__title">Enjoy FilmFocus</h3>
						<p class="how__text">Share with your friends. Filter your watchlists to find what to watch next. Discover new favorites.</p>
					</div>
				</div>
				<!-- ebd how box -->
			</div>
		</div>
	</section>
	<!-- end how it works -->


	<!-- team info -->
	<section class="section section--dark">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title section__title--no-margin">Meet the Team</h2>
				</div>
				<!-- end section title -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">Bill Laughlin</span>
						<h3 class="how__title">Computer Security & Software Engineer</h3>
						<p class="how__text">
							KU Class of 2024, B.S. Degree in Computer Science along with a CyberSecurity Certificate. Interested in a full time professional job.
							<br><br>Check out my Linkedin profile: https://www.linkedin.com/in/william-laughlin-jr-069880299/
						</p>
					</div>
				</div>
				<!-- end how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">Traizen McKown</span>
						<h3 class="how__title">Software Engineer</h3>
						<p class="how__text">KU 2024, Computer Science Major. Interested in full stack development.</p>
					</div>
				</div>
				<!-- end how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">Mark Peterson</span>
						<h3 class="how__title">Software Engineer</h3>
						<p class="how__text">KU BSCS 2024. Veteran, software development focused, previous software internship experience.</p>
					</div>
				</div>
				<!-- end how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">Aaron Reith</span>
						<h3 class="how__title">Aerospace & Software Engineer</h3>
						<p class="how__text">Interdisciplanary Computing major. A sentence or two of information about me. Maybe a link to my personal website.</p>
					</div>
				</div>
				<!-- end how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">John Zheng</span>
						<h3 class="how__title">Software Engineer</h3>
						<p class="how__text">BS in Computer Science 2024, University of Kansas. I like software development.</p>
					</div>
				</div>
				<!-- end how box -->

			</div>
		</div>
	</section>
	<!-- end of team info -->



	<!-- JS -->
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/bootstrap.bundle.min.js" %}></script>
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<script src={% static "js/jquery.mousewheel.min.js" %}></script>
	<script src={% static "js/jquery.mCustomScrollbar.min.js" %}></script>
	<script src={% static "js/wNumb.js" %}></script>
	<script src={% static "js/nouislider.min.js" %}></script>
	<script src={% static "js/plyr.min.js" %}></script>
	<script src={% static "js/jquery.morelines.min.js" %}></script>
	<script src={% static "js/photoswipe.min.js" %}></script>
	<script src={% static "js/photoswipe-ui-default.min.js" %}></script>
	<script src={% static "js/main.js" %}></script>
</body>

</html>

{% endblock %}
