{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href={% static "css/bootstrap-reboot.min.css" %}>
	<link rel="stylesheet" href={% static "css/bootstrap-grid.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/jquery.mCustomScrollbar.min.css" %}>
	<link rel="stylesheet" href={% static "css/nouislider.min.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
	<link rel="stylesheet" href={% static "css/plyr.css" %}>
	<link rel="stylesheet" href={% static "css/photoswipe.css" %}>
	<link rel="stylesheet" href={% static "css/default-skin.css" %}>
	<link rel="stylesheet" href={% static "css/main.css" %}>

	<link rel="icon" href="{% static 'img/logos/FilmFocusBook.png' %}" type="image/x-icon">
    <!-- <title>{% block title %}FilmFocus - Your Watchlist, Your Way{% endblock %}</title> -->
	<!-- Commenting out the block for the title. Want to be able to personalize the block in movie details and others. -->
	<!-- Pages should have their own title section, and the default should be "FilmFocus - Your Watchlist, Your Way" -->
</head>
<body>
    <!-- header -->
	<header id ="header" class="header">
        {% block header %}

		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="/" class="header__logo">
								<img src={% static "img/logos/FilmFocus_v3_withSpace.png" %} alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<li class="header__nav-item">
									<a href="/" class="header__nav-link">Home</a>
								</li>
								<li class="header__nav-item">
									<a href="/catalog/" class="header__nav-link">Catalog</a>
								</li>
								<!-- If user logged in goes to users Watchlists page, else goes to Log In page -->
								<li class="header__nav-item">
									<a href="/watchlist/{{ user.username }}" class="header__nav-link">Watchlists</a>
								</li>

								<li class="header__nav-item header__nav-item--search">
									<form action="{% url 'search' %}" method="get">
										{% csrf_token %}
										<input id="searchbar" type="text" name="query" maxlength="50" placeholder="Search Movies">
										<!-- <button type="submit">Search</button> -->
										<button class="header__search-btn" type="submit">
											<i class="icon ion-ios-search"></i>
										</button>
									</form>							
								</li>
							</ul>
							<!-- end header nav -->

							<!-- Log In or Log Out -->
							{% if user.is_authenticated %}
							
								<div class="header__user_photo">
									{% if logged_in_user_profile_picture %}
										
										<!-- Welcome user message -->
										<div class="header__user_welcome">
											<a href="/profile/{{ user.username }}"><img src="{% static 'img/profile_pics/' %}{{ logged_in_user_profile_picture }}" class ="profile_photo" alt="profile_photo" style="width: 30px; vertical-align: middle; margin-left: 15px; margin-right: 5px;"></a>
											<a href="/profile/{{ user.username }}"><span class="username">{{ user.username }}</span></a>
										</div>
										<!-- end Welcome user message -->

									{% else %}
										
										<!-- Welcome user message -->
										<div class="header__user_welcome">
											<a><img src="{% static 'img/profile_pics/default.png' %}" class ="profile_photo" alt="default_profile_pic" style="width: 30px; vertical-align: middle; margin-left: 15px; margin-right: 5px;"></a>
											<a href="/profile/{{ user.username }}"><span class="username">{{ user.username }}</span></a>
										</div>
										<!-- end Welcome user message -->
									
									{% endif %}
								</div>


								<!-- Log out header auth -->
								<div class="header__auth">
									<a href="/logout/" class="header__sign-in">
										<i class="icon ion-ios-log-in"></i>
										<span>LOG OUT</span>
									</a>
								</div>
								<!-- Log in end header auth -->
							{% else%}
								<!-- Log in header auth -->
								<div class="header__auth">
									<a href="/login/" class="header__sign-in">
										<i class="icon ion-ios-log-in"></i>
										<span>LOG IN</span>
									</a>
								</div>
								<!-- Log in end header auth -->
							{% endif %}
							<!-- end Log In or Log Out -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

        {% endblock %}
		<div id="searchbar-queries"></div>	
	</header>
	<!-- end header -->

	<!-- popup -->
	<div class="popup" id="popup"></div>
	<!-- end popup -->

    <main>
        {% block content %}{% endblock %}
    </main>
	<div id="inconspicuous"></div>
    <!-- footer -->
    <footer class="footer">
        {% block footer %}
        <div class="container">
            <div class="row">
                <!-- footer list -->
                <div class="col-12 col-md-3">
                    <h6 class="footer__title">Data Provided By</h6>
                    <ul class="footer__app">
                        <li><a href="https://www.themoviedb.org/"><img src={% static "img/TMDB_square.svg" %} alt=""></a></li>
                    </ul>
                </div>
                <!-- end footer list -->

                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Resources</h6>
                    <ul class="footer__list">
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                    </ul>
                </div>
                <!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="mailto:filmfocusku@gmail.com">filmfocusku@gmail.com</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3 align-self-center">
					<img src="{% static 'img/logos/FilmFocus_v3_bottom_centered.png' %}" alt="" width="300">
				</div>
				<!-- end footer list -->


                <!-- footer copyright -->
                <div class="col-12">
                    <div class="footer__copyright">
                        <small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>
                    </div>
                </div>
                <!-- end footer copyright -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    {% endblock %}
</body>
</html>
