{% extends "base.html" %}

{% block content %}
<h1>Movies List</h1>

<table border="1">
    <thead>
        <tr>
            <th width="100px">Title</th>
            <th width="100px">Release Year</th>
            <th width="300px">Overview</th>
            <th width="150px">Poster</th>
            <th width="100px">Runtime (mins)</th>
            <th width="100px">Tagline</th>
            <th width="100px">Genres</th>
            <th width="400px">Trailer</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.release_year }}</td>
            <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;">{{ movie.overview }}</td>
            <td>
                {% if movie.poster_path %}
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster" width="150">
                {% else %}
                No poster available
                {% endif %}
            </td>
            <td>{{ movie.runtime }}</td>
            <td>{{ movie.tagline }}</td>
            <td>
                {% for genre in movie.genres.all %}
                {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if movie.trailer_key %}
                <!-- Embed the YouTube trailer using iframe -->
                <iframe width="400" height="224" src="https://www.youtube.com/embed/{{ movie.trailer_key }}" frameborder="0" allowfullscreen></iframe>
                {% else %}
                No trailer available
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
