{% load static %}

{% if movies %}

<div class="select-movie-popupInner">
    <div class="container">
        <button id="closePopupAlt" class="x__popup">&#x2715</button>
        <h2>Select a Movie</h2>
        <div class="row">
            {% for movie in movies %}
            <!-- card -->
            <div class="col-sm-4">
                <div class="card">
                    <a href="{% url 'movie_detail' movie_slug=movie.slug %}">
                        <div class="card__cover">
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                        </div>
                    </a>
                    
                    <div class="card__content">
                        <h3 class="card__title"><a href="{% url 'movie_detail' movie_slug=movie.slug %}">{{ movie.title }} ({{ movie.release_year }})</a></h3>


                        <span class="card__rate">
                            {{ movie.runtime }} mins
                            <span class="card__streamer">
                                {% if movie.top_streaming_providers.all %}
                                <div class="provider-list">
                                    <ul style="list-style-type: none; padding: 0; margin: 0;">
                                        {% for provider in movie.top_streaming_providers.all %}
                                            <li style="margin-bottom: 10px;">
                                                <img src="https://image.tmdb.org/t/p/w500{{ provider.logo_path }}" alt="{{ provider.name }} logo" class="provider-logo">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            {% endfor %}
            
            <button id="reselectPopup" class="reselect__select-movie-popup">RESELECT</button>
            <button id="closePopup" class="close__select-movie-popup">CLOSE</button>
        </div>
    </div>
</div>
{% else %}
    <div class="del-wlist-popupInner">
        <button id="closePopupAlt" class="x__popup">&#x2715</button>
        <br><br><br><h2>No Movies in Watchlist to Select</h2>
        <button id="closePopup" class="close__popup">CLOSE</button>
    </div>
{% endif %}