{% load static %}

{% if user.is_authenticated %}
    <div class="rating-popupInner">
        <button id="closePopupAlt" class="x__popup">&#x2715</button>
        <h2>Add a Rating</h2><br>

        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" style="width: 20%; height: auto;" alt="{{ movie.title }}">
        <br>
        {{ movie.title }} ({{ movie.release_year }})
        <br><br>

        <!-- Input field for rating -->
        <label id="sliderValue" for="rating">Rating (1-10): {% if rating_exists %}{{ user_rating }}{% else %}1{% endif %}</label>
        <br>
        <input type="range" id="rating" name="rating" min="1" max="10" value="{% if rating_exists %}{{ user_rating }}{% else %}1{% endif %}">
        <br>
        <!-- Checkbox for indicating if the movie has been watched
        <input type="checkbox" id="watched" name="watched">
        <label for="watched">Watched</label>
        <br> -->
        
        {% if rating_exists %}
            Recorded Rating: {{ user_rating }}
        {% endif %}

        
        {% if rating_exists %}
            <button id="savePopup" class="save__rating-popup">SAVE</button>
            <button id="resetPopup" class="reset__rating-popup">DELETE</button>
            <button id="closePopup" class="close__rating-popup">CLOSE</button>
        {% else %}
            <button id="savePopup" class="save2__rating-popup">SAVE</button>
            <button id="closePopup" class="close2__rating-popup">CLOSE</button>
        {% endif %}
    </div>
{% else %}
    <div class="rating-popupInner">
        <button id="closePopupAlt" class="x__popup">&#x2715</button>
        <h2>Log In to Add a Rating</h2><br>
        <button id="loginPopup" class="login__popup">LOG IN</button><br>
        <button id="closePopup" class="close__popup">CLOSE</button>
    </div>
{% endif %}