{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<style>
	p {text-align: center; max-width: 300px;}
</style>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href={% static "css/bootstrap-reboot.min.css" %}>
	<link rel="stylesheet" href={% static "css/bootstrap-grid.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/jquery.mCustomScrollbar.min.css" %}>
	<link rel="stylesheet" href={% static "css/nouislider.min.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
	<link rel="stylesheet" href={% static "css/plyr.css" %}>
	<link rel="stylesheet" href={% static "css/photoswipe.css" %}>
	<link rel="stylesheet" href={% static "css/default-skin.css" %}>
	<link rel="stylesheet" href={% static "css/main.css" %}>

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FilmFocus – Your Watchlist, Your Way</title>

</head>
<body class="body">

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">




				<!-- Popular Movies section -->
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<br><br><br><br>
						<h2 class="section__title">Poster Path Game</h2>
						<h3 class="section__subtitle">Jump from the start movie to the finish movie to win.</h3>
						<!-- end content title -->
						<div class="container">
							<div class="row">

								<!-- start card -->
									<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
										<div class="card">
											<a href="#0">
												<div class="card__cover">
													<img src="https://image.tmdb.org/t/p/w500{{ start_movie.poster_path }}" alt="{{ start_movie.title }}">
												</div>
												<a href="#0" class="card__add">
													<img src="{% static 'img/logos/AddButton.png' %}" alt="Bookmark">
												</a>
											</a>
											<div class="card__content">
												<h3 class="card__title">Start Movie</h3>
											</div>
										</div>
									</div>
								<!-- end start card -->

								<!-- current card -->
									<div class="col-12 col-sm-4 col-lg-3 col-xl-2">
										<div class="card">
											<a href="#0">
												<div class="card__cover">
													<img src="https://image.tmdb.org/t/p/w500{{ current_movie.poster_path }}" alt="{{ current_movie.title }}">
												</div>
												<a href="#0" class="card__add">
													<img src="{% static 'img/logos/AddButton.png' %}" alt="Bookmark">
												</a>
											</a>
											<div class="card__content">
												<h3 class="card__title">Current Movie</h3>
											</div>
										</div>
									</div>
								<!-- end current card -->


								{% for movie in recommended_movies %}
								<!-- 4 recommended movies card -->
									<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
										<div class="card">
											<a href="{% url 'movie_detail' movie_slug=movie.slug %}">
												<div class="card__cover">
													<img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
												</div>
												<a href="#0" class="card__add">
													<img src="{% static 'img/logos/AddButton.png' %}" alt="Bookmark">
												</a>
											</a>
										</div>
									</div>
								<!-- end 4 recommended movies card -->
								{% endfor %}

								<!-- finish card -->
								<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
									<div class="card">
										<a href="#0">
											<div class="card__cover">
												<img src="https://image.tmdb.org/t/p/w500{{ finish_movie.poster_path }}" alt="{{ finish_movie.title }}">
											</div>
											<a href="#0" class="card__add">
												<img src="{% static 'img/logos/AddButton.png' %}" alt="Bookmark">
											</a>
										</a>
										<div class="card__content">
											<h3 class="card__title">Finish Movie</h3>
										</div>
									</div>
								</div>
								<!-- end finish card -->

							</div>
						</div>
					</div>
				</div>
			
				<!-- end Popular Movies section -->

			</div>
		</div>
	</section>

	
	<!-- end content --> 







	<!-- JS -->
	<script src={% static "js/passwordVisibility.js" %}></script>
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/bootstrap.bundle.min.js" %}></script>
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<script src={% static "js/jquery.mousewheel.min.js" %}></script>
	<script src={% static "js/jquery.mCustomScrollbar.min.js" %}></script>
	<script src={% static "js/wNumb.js" %}></script>
	<script src={% static "js/nouislider.min.js" %}></script>
	<script src={% static "js/plyr.min.js" %}></script>
	<script src={% static "js/jquery.morelines.min.js" %}></script>
	<script src={% static "js/photoswipe.min.js" %}></script>
	<script src={% static "js/photoswipe-ui-default.min.js" %}></script>
	<script src={% static "js/main.js" %}></script>
</body>

</html>

{% endblock %}