{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<style>
	p {text-align: center; max-width: 300px;}
</style>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href={% static "css/bootstrap-reboot.min.css" %}>
	<link rel="stylesheet" href={% static "css/bootstrap-grid.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/jquery.mCustomScrollbar.min.css" %}>
	<link rel="stylesheet" href={% static "css/nouislider.min.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
	<link rel="stylesheet" href={% static "css/plyr.css" %}>
	<link rel="stylesheet" href={% static "css/photoswipe.css" %}>
	<link rel="stylesheet" href={% static "css/default-skin.css" %}>
	<link rel="stylesheet" href={% static "css/main.css" %}>

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FilmFocus – Your Watchlist, Your Way</title>

</head>
<body class="body">

	<div class="sign section--bg" data-bg={% static "img/section/section.jpg" %}>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form method="POST" class="sign__form">
							{% csrf_token %}
							<a href="/" class="sign__logo">
								<img src={% static "img/logos/FilmFocus_textonly.png" %} alt="">
							</a>
							<div>
								<h2 style="color: white;">Reset your password</h2>
							</div>
							<div>
								<p style="color: white;">Enter your username to receive an email with a link to reset your password.</p>
							</div>
							<!-- error message -->
							{% if form.non_field_errors %}
                            <ul class="errorlist">
								<li style="color: red;">{{ form.non_field_errors }}</li>
                            </ul>
                        	{% endif %}
							<div class="sign__group">
								<input type="text" class="sign__input" name="username" placeholder="Username">
							</div>
							<div>
								<button class="reset__send" type="submit">Send</button>
							</div>
						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src={% static "js/passwordVisibility.js" %}></script>
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/bootstrap.bundle.min.js" %}></script>
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<script src={% static "js/jquery.mousewheel.min.js" %}></script>
	<script src={% static "js/jquery.mCustomScrollbar.min.js" %}></script>
	<script src={% static "js/wNumb.js" %}></script>
	<script src={% static "js/nouislider.min.js" %}></script>
	<script src={% static "js/plyr.min.js" %}></script>
	<script src={% static "js/jquery.morelines.min.js" %}></script>
	<script src={% static "js/photoswipe.min.js" %}></script>
	<script src={% static "js/photoswipe-ui-default.min.js" %}></script>
	<script src={% static "js/main.js" %}></script>
</body>

</html>

{% endblock %}