{% extends "base.html" %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href={% static "css/bootstrap-reboot.min.css" %}>
	<link rel="stylesheet" href={% static "css/bootstrap-grid.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/jquery.mCustomScrollbar.min.css" %}>
	<link rel="stylesheet" href={% static "css/nouislider.min.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
	<link rel="stylesheet" href={% static "css/plyr.css" %}>
	<link rel="stylesheet" href={% static "css/photoswipe.css" %}>
	<link rel="stylesheet" href={% static "css/default-skin.css" %}>
	<link rel="stylesheet" href={% static "css/main.css" %}>

	<!-- Favicons -->
	<link rel="icon" type="image/png" href={% static "icon/favicon-32x32.png" %} %} sizes="32x32">
	<link rel="apple-touch-icon" href={% static "icon/favicon-32x32.png" %} %}>
	<link rel="apple-touch-icon" sizes="72x72" href={% static "icon/apple-touch-icon-72x72.png" %} %}>
	<link rel="apple-touch-icon" sizes="114x114" href={% static "icon/apple-touch-icon-114x114.png" %} %}>
	<link rel="apple-touch-icon" sizes="144x144" href={% static "icon/apple-touch-icon-144x144.png" %} %}>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FilmFocus – Your Watchlist, Your Way</title>

</head>
<body class="body">

	<!-- page title -->
	{% if user.is_authenticated %}

	<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="profile__wrap">
						<div class="profile__photo">
							<img src="{% static 'img/profile_pics/' %}{{ user_profile.profile_pic }}" alt="profile_photo" style="width: 80px;">
						</div>
						{% if is_self %}
							<div class="profile__info">
								<h3 class="profile__username">@{{ user_profile.user }}</h3><br>
								<a href="#0" class="profile__edit">Edit Profile</a>
							</div>
						{% else %}
							<div class="profile__info">
								<h3 class="profile__username">@{{ user_profile.user }}</h3><br>
							</div>
						{% endif  %}
						<h3 class="bio_label">Bio</h3>
						<p class="user_bio">{{ user_profile.biography }}</p>
						<!-- <a href="#0" class="num_friends">{{ user_profile.friends.count }}<br>Friends</a> -->
						<a href="/rating/{{ user_profile.user }}/" class="num_ratings">{{ movie_ratings_count }}<br>Movie Ratings</a>
						<a href="#0" class="num_watchlists">{{ watchlists.count }}<br>Watchlists</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- catalog -->
	<div class="prof_catalog">
		<div class="container">
			<div class="row">

				<div class="friends_block">
					<h3 class="friends_block_title">Friends</h3>
					
					{% if friend_requests %}
					<div style="display: flex; align-items: center; margin-left: 70px; margin-bottom: 15px;">
						<a href="/friend_requests/">Pending Requests ({{ friend_requests.count }})</a>
					</div>
					{% endif %}

					{% for friend in user_profile.friends.all %}
					<div style="display: flex; align-items: center; margin-left: 50px; margin-bottom: 10px;">
						<a href="/profile/{{ friend.user }}" style="display: flex; align-items: center; text-decoration: none;">
							<img src="{% static 'img/profile_pics/' %}{{ friend.profile_pic }}" class="profile_photo" alt="profile_photo" style="width: 30px;">
							<h3 style="margin: 0 0 0 5px;">@{{ friend.user }}</h3>
						</a>
					</div>
					{% endfor %}
				</div>

                <div class="prof_divider"></div>
				<div class="watchlist_block">
						
					<h3 class="wlist_block_title">Watchlists</h3>

					<ul>
						
						{% for watchlist in watchlists %}
						<center>
							<a href="#" class="watchlist_el_link" data-watchlist-id="{{ watchlist.id }}">
								<li class="watchlist_element" watchlist_id="{{ watchlist.id }}">{{ watchlist.watchlist_name }}</li> 
						  	</a>	

							<!-- Work in Progress: watchlist privacy toggle -->
							<!-- <div class="toggle-button">
								<input type="checkbox" id="toggle" class="toggle-input">
								<label for="toggle" class="toggle-label"></label>
							</div> -->
						</center>	
						{% endfor %}
						
					</ul>
				</div>
				{% if is_self %}
				<div class="toggle_block">
					{% for watchlist in watchlists %}
					<ul>
						<label class="toggle">
							<input type="checkbox" class="toggle_checkbox" watchlist_id="{{ watchlist.id }}" {% if watchlist.is_private %}checked{% endif %}>
							<span class="switch round"></span>
						</label>
					</ul>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- end catalog -->

	<!-- Work In Progress Prettier Toggles
	<label class="toggle">
		<input type="checkbox">
		<span class="switch round"><img class="switch image" src="{% static 'img/logos/FilmFocusCrosshair_v2.png' %}" alt="Toggle Image"></span>
	</label>
	<label class="toggle">
		<input type="checkbox">
		<img class="switch image" src="{% static 'img/logos/FilmFocusCrosshair_v2.png' %}" alt="Toggle Image">
	</label>
	<label class="toggle">
		<input type="checkbox">
		<span class="switch round"></span>
	</label>
	-->
	{% endif %}
	<form id="WL_profile_form" action="/watchlist/{{ user_profile.user }}/" method="POST" style="display: none;">
		{% csrf_token %}
		<!-- Include your hidden form fields here -->
		<input type="hidden" name="watchlist_id" id="hidden-watchlist-id" value="{{ filter_watchlist.id }}">
		<input type="hidden" name="genre" id="hidden-watchlist-id" value="None">
		<input type="hidden" name="streaming_provider" id="hidden-watchlist-id" value="None">
		<input type="hidden" name="year_begin" id="hidden-year-begin" value="{{ filter_year_begin|default:'1900' }}">
		<input type="hidden" name="year_end" id="hidden-year-end" value="{{ filter_year_end|default:'2024' }}">
		<input type="hidden" name="imdb_begin" id="hidden-imdb-begin" value="{{ filter_imdb_begin|default:'0.0' }}">
		<input type="hidden" name="imdb_end" id="hidden-imdb-end" value="{{ filter_imdb_end|default:'10.0' }}">
	</form>
	<!-- JS -->
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/bootstrap.bundle.min.js" %}></script>
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<script src={% static "js/jquery.mousewheel.min.js" %}></script>
	<script src={% static "js/jquery.mCustomScrollbar.min.js" %}></script>
	<script src={% static "js/wNumb.js" %}></script>
	<script src={% static "js/nouislider.min.js" %}></script>
	<script src={% static "js/plyr.min.js" %}></script>
	<script src={% static "js/jquery.morelines.min.js" %}></script>
	<script src={% static "js/photoswipe.min.js" %}></script>
	<script src={% static "js/photoswipe-ui-default.min.js" %}></script>
	<script src={% static "js/main.js" %}></script>
</body>

</html>

{% endblock %}