{% extends "base.html" %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href={% static "css/bootstrap-reboot.min.css" %}>
	<link rel="stylesheet" href={% static "css/bootstrap-grid.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/jquery.mCustomScrollbar.min.css" %}>
	<link rel="stylesheet" href={% static "css/nouislider.min.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
	<link rel="stylesheet" href={% static "css/plyr.css" %}>
	<link rel="stylesheet" href={% static "css/photoswipe.css" %}>
	<link rel="stylesheet" href={% static "css/default-skin.css" %}>
	<link rel="stylesheet" href={% static "css/main.css" %}>

	<!-- Favicons -->
	<link rel="icon" type="image/png" href={% static "icon/favicon-32x32.png" %} %} sizes="32x32">
	<link rel="apple-touch-icon" href={% static "icon/favicon-32x32.png" %} %}>
	<link rel="apple-touch-icon" sizes="72x72" href={% static "icon/apple-touch-icon-72x72.png" %} %}>
	<link rel="apple-touch-icon" sizes="114x114" href={% static "icon/apple-touch-icon-114x114.png" %} %}>
	<link rel="apple-touch-icon" sizes="144x144" href={% static "icon/apple-touch-icon-144x144.png" %} %}>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FilmFocus – Your Watchlist, Your Way</title>

</head>
<body class="body">

	<!-- page title -->
	<section class="section section--first section--bg" data-bg={% static "img/section/section.jpg" %}>
		<div class="container" style="margin-top: -15px; margin-bottom: -15px;">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">{{ username }}'s Watchlists</h2>
						<!-- end section title -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	{% if user.is_authenticated %}

	<!-- filter -->
	<div class="filter">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="filter__content">
						<form class="filter__items" id="watchlist-form" method="POST">
							{% csrf_token %}
							<div class="filter__item" id="filter__watchlist">
								<span class="filter__item-label">WATCHLIST:</span>
								
								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-watchlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{% if all_watchlist %}
										<input type="button" value="All">
									{% else %}
										<input type="button" value="{{ filter_watchlist.watchlist_name }}">
									{% endif %}
									<span></span>
								</div>
									<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-quality">
										{% if multiple_watchlists %}
											<li class="watchlist-dropdown-option" watchlist_id="watchlist_all">All</li>
										{% endif %}

										{% for watchlist in watchlists %}
											<li class="watchlist-dropdown-option" watchlist_id="{{watchlist.id}}">{{ watchlist.watchlist_name }}</li>
										{% endfor %}
									</ul>
							</div>
							<!-- end watchlist filter item -->

							<!-- genre filter -->
							<div class="filter__item" id="filter__genre">
								<span class="filter__item-label">GENRE:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input id="filter_genre_input" type="button" value="Select">
									<input type="hidden" name="genre" id="hidden-genre" value="">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
									<li class="dropdown_li">All</li>
									{% for genre in genres %}
										<li class="dropdown_li" data-value="{{ genre }}">
											<input type="checkbox" id="checkbox_{{ genre }}" genre_id="{{ genre.id }}" class="genre_checkbox" {% if genre in filter_genre %} checked {% endif %}>
											&nbsp; {{ genre }} 
										</li>
									{% endfor %}
								</ul>
							</div>
							<!-- end genre filter-->

							<!-- streaming provider filter item -->
							<div class="filter__item" id="filter__streamer">
								<span class="filter__item-label">WHERE TO WATCH:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-streamer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input id="filter_streamer_input" type="button" value="Select">
									<input type="hidden" name="streaming_provider" id="hidden-provider" value="">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-streamer">
									<li>All</li>
									{% for provider in streamers %}
										<li class="dropdown_li" data-value="{{ provider }}">
											<input type="checkbox" id="checkbox_{{ provider }}" streamer_id="{{ provider.id }}" class="streamer_checkbox" {% if provider in filter_streamer %} checked {% endif %}>
											&nbsp; {{ provider }} 
										</li>
									{% endfor %}
								</ul>
							</div>
							<!-- end filter item -->

							<!-- rating filter item -->
							<div class="filter__item" id="filter__rate">
								<span class="filter__item-label">IMDb:</span>

								<div class="filter__item-btn dropdown-toggle" role="button" id="filter-rate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div class="filter__range">
										<div id="filter__imbd-start"></div>
										<div id="filter__imbd-end"></div>
									</div>
									<span></span>
								</div>

								<div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-rate">
									<div id="filter__imbd"></div>
								</div>
							</div>
							<!-- end rating filter item -->

							<!-- year filter item -->
							<div class="filter__item" id="filter__year">
								<span class="filter__item-label">RELEASE YEAR:</span>

								<div class="filter__item-btn dropdown-toggle" role="button" id="filter-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div class="filter__range">
										<div id="filter__years-start">{{ filter_year_begin|default:'1900' }}</div>
										<div id="filter__years-end">{{ filter_year_end|default:'2024' }}</div>
									</div>
									<span></span>
								</div>

								<div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-year">
									<div id="filter__years"></div>
								</div>
							</div>
							<!-- end year filter item -->

							<!-- runtime filter item -->
							<!-- <div class="filter__item" id="filter__runtime">
								<span class="filter__item-label">RUNTIME:</span>

								<div class="filter__item-btn dropdown-toggle" role="button" id="filter-runtime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div class="filter__range">
										<div id="filter__time-start"></div>
										<div id="filter__time-end"></div>
									</div>
									<span></span>
								</div>

								<div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-runtime">
									<div id="filter__time"></div>
								</div>
							</div> -->
							<!-- end runtime filter item -->

							<!-- hidden form information -->
							{% if all_watchlist %}
								<input type="hidden" name="watchlist_id" id="hidden-watchlist-id" value="watchlist_all">
							{% else %}
								<input type="hidden" name="watchlist_id" id="hidden-watchlist-id" value="{{ filter_watchlist.id }}">
							{% endif %}
							<input type="hidden" name="year_begin" id="hidden-year-begin" value="{{ filter_year_begin|default:'1900' }}">
							<input type="hidden" name="year_end" id="hidden-year-end" value="{{ filter_year_end|default:'2024' }}">
							<input type="hidden" name="imdb_begin" id="hidden-imdb-begin" value="{{ filter_imdb_begin|default:'0.0' }}">
							<input type="hidden" name="imdb_end" id="hidden-imdb-end" value="{{ filter_imdb_end|default:'10.0' }}">
							<input type="hidden" name="username" id="hidden-username" value="{{ user.username }}">
							<!-- end hidden form infromation -->

							<!-- filter btn -->
							<button class="filter__btn" type="submit">apply filter</button>
							<!-- end filter btn -->
						</form>
						
						{% if is_self %}
							<!-- delete watchlist button -->
							{% if watchlists %}

								{% if not all_watchlist %}
									<button class="delete-watchlist__btn"  id="deleteWatchlistBtn">delete watchlist</button>
								{% endif %}
								
								<button class="watchlist-select-movie__btn"  id="watchlistSelectMovieBtn"
								genre="{% for genre in filter_genre %}{{ genre.id }}{% if not forloop.last %}+{% endif %}{% endfor %}"
								streamer="{% for streamer in filter_streamer %}{{ streamer.id }}{% if not forloop.last %}+{% endif %}{% endfor %}">
									select a movie
								</button>

							{% endif %}
							<!-- end delete watchlist button --> 	
						{% endif %}	

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end filter -->

	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row">
				{% if watchlists %}
					{% for movie in movie_list %}
					<!-- card -->
					<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
						<div class="card">
							<a href="{% url 'movie_detail' movie_slug=movie.slug %}">
								<div class="card__cover">
									<img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
									<!-- <a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a> -->
								</div>
							</a>

							<!-- add to watchlist, plus button & popup -->
							<span title="Add Movie to Your Watchlist">
								<a href="#0" class="card__add" movie_id="{{ movie.id }}">
									<img src="{% static 'img/logos/AddButton.png' %}" alt="Bookmark">
								</a>
							</span>			
							<!-- end add to watchlist -->

							<span title="Add Rating">
								<a href="#0" class="card__rating" movie_id="{{ movie.id }}">
									<img src="{% static 'img/logos/StarButton.png' %}" alt="Rating">
								</a>
							</span>

							<div class="card__content">
								<h3 class="card__title"><a href="{% url 'movie_detail' movie_slug=movie.slug %}">{{ movie.title }} ({{ movie.release_year }})</a></h3>
								<span class="card__category">
									{% for genre in movie.genres.all|slice:":4" %}	<!-- Limit of 4 genres posted -->
										<a>{{ genre.name }}</a>
									{% endfor %}
								</span>

								<span class="card__rate">
									<img src="{% static 'img/logos/imdb-logo.svg' %}" alt="IMDb" style="width: 30px; vertical-align: middle; margin-right: 5px;">
									{{ movie.imdb_rating }}

									<!-- Streaming Provider Images -->
									<span class="card__streamer">
										{% if movie.top_streaming_providers.all %}
											<div class="provider-list">
												<ul style="list-style-type: none; padding: 0; margin: 0;">
													{% for provider in movie.top_streaming_providers.all %}
														{% if provider.logo_path %}
															<li style="margin-bottom: 10px;">
																<img src="https://image.tmdb.org/t/p/w500{{ provider.logo_path }}" alt="{{ provider.name }} logo" class="provider-logo">
															</li>
														{% else %}
															{% with "img/logos/"|add:provider.name|lower|cut:" "|add:".png" as default_logo %}
																<li style="margin-bottom: 10px;">
																	<img src="{% static default_logo %}" alt="{{ provider.name }} logo" class="provider-logo">
																</li>
															{% endwith %}
														{% endif %}
													{% endfor %}
												</ul>
											</div>
										{% endif %}
									</span>
									<!-- end Streaming Provider Images -->
									
								</span>
							</div>
						</div>
					</div>
					<!-- end card -->
					{% endfor %}
				{% else %}
					<!-- Create New Watchlist form -->
					<form class="wlist_page_form" method="post">
						{% csrf_token %}
						<div class="wlist__group">
							<input id="wlistinput" class="wlist__input" name="watchlist_name" placeholder="New Watchlist Name" type="text" maxlength="30">
							<button id="wlistpagebtn" class="wlist_page_btn" type="submit">New Watchlist</button>
						</div>
					</form>
					<!-- end Create New Watchlist form -->
				{% endif %}
				<!-- paginator -->
				<!-- <div class="col-12">
					<ul class="paginator">
						<li class="paginator__item paginator__item--prev">
							<a href="#"><i class="icon ion-ios-arrow-back"></i></a>
						</li>
						<li class="paginator__item"><a href="#">1</a></li>
						<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
						<li class="paginator__item"><a href="#">3</a></li>
						<li class="paginator__item"><a href="#">4</a></li>
						<li class="paginator__item paginator__item--next">
							<a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
						</li>
					</ul>
				</div> -->
				<!-- end paginator -->
			</div>
		</div>
	</div>
	<!-- end catalog -->

	{% endif %}

	<!-- JS -->
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/bootstrap.bundle.min.js" %}></script>
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<script src={% static "js/jquery.mousewheel.min.js" %}></script>
	<script src={% static "js/jquery.mCustomScrollbar.min.js" %}></script>
	<script src={% static "js/wNumb.js" %}></script>
	<script src={% static "js/nouislider.min.js" %}></script>
	<script src={% static "js/plyr.min.js" %}></script>
	<script src={% static "js/jquery.morelines.min.js" %}></script>
	<script src={% static "js/photoswipe.min.js" %}></script>
	<script src={% static "js/photoswipe-ui-default.min.js" %}></script>
	<script src={% static "js/main.js" %}></script>
</body>

</html>

{% endblock %}